# Population by sex, age, citizenship and labour status

## 5. Datos relativos a población por sexo, edad, ciudadanía y empleo

In [1]:
import pandas as pd
import eurostat
import plotly.express as px # Graphics
from MyFunctions import EUcountries
from pyspark.sql import SparkSession 
from pyspark.sql.types import StructField, StructType, StringType, IntegerType, FloatType 
from pyspark.sql import functions as func

In [2]:
spark = SparkSession.builder.appName("PopulationByAge").master("local") .getOrCreate()

### Exploración DF

In [3]:
# Load data on Population by sex, age, citizenship and labour status
PopByAge = eurostat.get_data_df('lfsq_pganws')
PopByAge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188206 entries, 0 to 188205
Data columns (total 100 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   unit      188206 non-null  object
 1   sex       188206 non-null  object
 2   citizen   188206 non-null  object
 3   age       188206 non-null  object
 4   wstatus   188206 non-null  object
 5   geo\time  188206 non-null  object
 6   2021Q2    58429 non-null   float64
 7   2021Q1    58592 non-null   float64
 8   2020Q4    59905 non-null   float64
 9   2020Q3    62079 non-null   float64
 10  2020Q2    62058 non-null   float64
 11  2020Q1    61965 non-null   float64
 12  2019Q4    108409 non-null  float64
 13  2019Q3    108877 non-null  float64
 14  2019Q2    108823 non-null  float64
 15  2019Q1    108885 non-null  float64
 16  2018Q4    109044 non-null  float64
 17  2018Q3    108785 non-null  float64
 18  2018Q2    108711 non-null  float64
 19  2018Q1    109373 non-null  float64
 20  2017Q4    108778 non-null  float64
 21  2017Q3    108372 non-null  float64
 22  2017Q2    108317 non-null  float64
 23  2017Q1    109065 non-null  float64
 24  2016Q4    108589 non-null  float64
 25  2016Q3    108914 non-null  float64
 26  2016Q2    109306 non-null  float64
 27  2016Q1    109198 non-null  float64
 28  2015Q4    108293 non-null  float64
 29  2015Q3    108837 non-null  float64
 30  2015Q2    108777 non-null  float64
 31  2015Q1    108777 non-null  float64
 32  2014Q4    107732 non-null  float64
 33  2014Q3    107900 non-null  float64
 34  2014Q2    108071 non-null  float64
 35  2014Q1    108403 non-null  float64
 36  2013Q4    107382 non-null  float64
 37  2013Q3    106168 non-null  float64
 38  2013Q2    107266 non-null  float64
 39  2013Q1    105897 non-null  float64
 40  2012Q4    106646 non-null  float64
 41  2012Q3    104520 non-null  float64
 42  2012Q2    105450 non-null  float64
 43  2012Q1    104667 non-null  float64
 44  2011Q4    104654 non-null  float64
 45  2011Q3    102933 non-null  float64
 46  2011Q2    103883 non-null  float64
 47  2011Q1    103273 non-null  float64
 48  2010Q4    102783 non-null  float64
 49  2010Q3    101514 non-null  float64
 50  2010Q2    102763 non-null  float64
 51  2010Q1    101509 non-null  float64
 52  2009Q4    96225 non-null   float64
 53  2009Q3    96147 non-null   float64
 54  2009Q2    100154 non-null  float64
 55  2009Q1    96339 non-null   float64
 56  2008Q4    95076 non-null   float64
 57  2008Q3    94799 non-null   float64
 58  2008Q2    98630 non-null   float64
 59  2008Q1    94995 non-null   float64
 60  2007Q4    93483 non-null   float64
 61  2007Q3    93897 non-null   float64
 62  2007Q2    97582 non-null   float64
 63  2007Q1    93413 non-null   float64
 64  2006Q4    92783 non-null   float64
 65  2006Q3    93019 non-null   float64
 66  2006Q2    97080 non-null   float64
 67  2006Q1    93543 non-null   float64
 68  2005Q4    57754 non-null   float64
 69  2005Q3    57479 non-null   float64
 70  2005Q2    59834 non-null   float64
 71  2005Q1    57665 non-null   float64
 72  2004Q4    44426 non-null   float64
 73  2004Q3    44332 non-null   float64
 74  2004Q2    60655 non-null   float64
 75  2004Q1    43140 non-null   float64
 76  2003Q4    42212 non-null   float64
 77  2003Q3    42296 non-null   float64
 78  2003Q2    60149 non-null   float64
 79  2003Q1    42449 non-null   float64
 80  2002Q4    36788 non-null   float64
 81  2002Q3    36520 non-null   float64
 82  2002Q2    45694 non-null   float64
 83  2002Q1    39679 non-null   float64
 84  2001Q4    34215 non-null   float64
 85  2001Q3    30981 non-null   float64
 86  2001Q2    43746 non-null   float64
 87  2001Q1    35464 non-null   float64
 88  2000Q4    31224 non-null   float64
 89  2000Q3    29113 non-null   float64
 90  2000Q2    43870 non-null   float64
 91  2000Q1    32428 non-null   float64
 92  1999Q4    23493 non-null   float64
 93  1999Q3    21525 non-null   float64
 94  1999Q2    39920 non-null   float64
 95  1999Q1    21924 non-null   float64
 96  1998Q4    11998 non-null   float64
 97  1998Q3    9963 non-null    float64
 98  1998Q2    36758 non-null   float64
 99  1998Q1    14222 non-null   float64
dtypes: float64(94), object(6)
memory usage: 143.6+ MB

In [4]:
print("Dataset actualizado a: 29 de Octubre 2021")
print("Nº de filas / entradas: ", PopByAge.shape[0])
print("Nº de columnas / variables: ", PopByAge.shape[1])
print("Tipo de datos para cada variable: ")
display(PopByAge.dtypes)
print("Total valores nulos: ", PopByAge.isnull().sum().sum())
print("Variables con valores nulos: ")
print("  2021Q2: ", PopByAge['2021Q2'].isnull().sum().sum(), "valores nulos")
print("  2018Q3: ", PopByAge['2018Q3'].isnull().sum().sum(),  "valores nulos")

Dataset actualizado a: 29 de Octubre 2021
Nº de filas / entradas:  188206
Nº de columnas / variables:  100
Tipo de datos para cada variable:

unit        object
sex         object
citizen     object
age         object
wstatus     object
            ...
1999Q1     float64
1998Q4     float64
1998Q3     float64
1998Q2     float64
1998Q1     float64
Length: 100, dtype: object

Total valores nulos:  10289711
Variables con valores nulos:
  2021Q2:  129777 valores nulos
  2018Q3:  79421 valores nulos

In [5]:
PopByAge.sample(3)

,unit,sex,citizen,age,wstatus,geo\time,2021Q2,2021Q1,2020Q4,2020Q3,...,2000Q2,2000Q1,1999Q4,1999Q3,1999Q2,1999Q1,1998Q4,1998Q3,1998Q2,1998Q1
156894,THS,T,NEU15_FOR,Y25-64,POP,CY,NaN,NaN,NaN,NaN,...,17.9,NaN,NaN,NaN,15.2,NaN,NaN,NaN,NaN,NaN
64924,THS,M,EU15_FOR,Y35-39,UNE,EA19,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68920,THS,M,EU27_2020_FOR,Y15-74,INAC,EU28,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Limpieza y preparación

**FILTROS**:

Primer filtro: trimestres en este caso dejaré datos del año 2018 en adelante  

Segundo filtro: filtrar por los paises miembros de la UE

In [6]:
#Primer filtro: trimestres en este caso dejaré datos del año 2007 en adelante, por ser el ultimo año en el que algún país ingresó formalment a la UE
PopByAge.drop(PopByAge.iloc[:,20:], inplace = True, axis = 1)

In [7]:
#Rename columns

PopByAge.columns = ['unit','sex', 'citizen', 'age', 'wstatus', 'country', '2021Q2', '2021Q1', '2020Q4', '2020Q3', '2020Q2', '2020Q1', '2019Q4',
                '2019Q3', '2019Q2', '2019Q1', '2018Q4',  '2018Q3', '2018Q2', '2018Q1']

In [8]:
# Segundo filtro: filtrar por los paises miembros de la UE
# from MyFunctions import DF EU countries.

PopByAge = PopByAge[PopByAge.country.isin(EUcountries().Code)]

#Verico que estén los 27
PopByAge['country'].unique()

array(['AT', 'BE', 'CY', 'CZ', 'DE', 'DK', 'EL', 'ES', 'FI', 'FR', 'IE',
       'IT', 'LU', 'MT', 'NL', 'PT', 'SE', 'SK', 'BG', 'EE', 'HU', 'LT',
       'LV', 'PL', 'RO', 'SI', 'HR'], dtype=object)

In [9]:
#Busco null values
PopByAge.isnull().sum().sum()

1001857

In [10]:
#Muestra de algunos valores nulos
PopByAge[PopByAge.isnull().any(1)].sample(5)

#Un montón pffff

,unit,sex,citizen,age,wstatus,country,2021Q2,2021Q1,2020Q4,2020Q3,2020Q2,2020Q1,2019Q4,2019Q3,2019Q2,2019Q1,2018Q4,2018Q3,2018Q2,2018Q1
133475,THS,T,EU27_2020_FOR,Y40-44,EMP,LV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128317,THS,T,EU15_FOR,Y45-49,UNE,EE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32228,THS,F,NEU15_FOR,Y40-44,POP,LT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181699,THS,T,STLS,Y_GE50,EMP,EE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39917,THS,F,NEU27_2020_FOR,Y65-69,ACT,CY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# Cargo los diccionarios para PopByAge desde el bulkdown de Eurostat
unit = eurostat.get_dic('unit')
sex = eurostat.get_dic('sex')
citizen =eurostat.get_dic('citizen')
age = eurostat.get_dic('age')
wstatus = eurostat.get_dic('wstatus')
geo =eurostat.get_dic('geo')

In [12]:
#Uso la variable broadcast porque solo me interesan los datos presentes en el dataframe

broadcast_unit = spark.sparkContext.broadcast(unit)
broadcast_sex = spark.sparkContext.broadcast(sex)
broadcast_citizen = spark.sparkContext.broadcast(citizen)
broadcast_age = spark.sparkContext.broadcast(age)
broadcast_wstatus = spark.sparkContext.broadcast(wstatus)
broadcast_geo = spark.sparkContext.broadcast(geo)

In [13]:
#From pandas to spark
Pop_Age = spark.createDataFrame(PopByAge)
Pop_Age.printSchema()

root
 |-- unit: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- citizen: string (nullable = true)
 |-- age: string (nullable = true)
 |-- wstatus: string (nullable = true)
 |-- country: string (nullable = true)
 |-- 2021Q2: double (nullable = true)
 |-- 2021Q1: double (nullable = true)
 |-- 2020Q4: double (nullable = true)
 |-- 2020Q3: double (nullable = true)
 |-- 2020Q2: double (nullable = true)
 |-- 2020Q1: double (nullable = true)
 |-- 2019Q4: double (nullable = true)
 |-- 2019Q3: double (nullable = true)
 |-- 2019Q2: double (nullable = true)
 |-- 2019Q1: double (nullable = true)
 |-- 2018Q4: double (nullable = true)
 |-- 2018Q3: double (nullable = true)
 |-- 2018Q2: double (nullable = true)
 |-- 2018Q1: double (nullable = true)

In [14]:
#Codes in Pop_Age DF: unit, sex, citizen, age, Wstatus   


# Look for the codes for each variable, the meaning of the codes and count how many times apears in the DF
unitText = Pop_Age.groupBy("unit").count()
sexText = Pop_Age.groupBy("sex").count()
citizenText = Pop_Age.groupBy("citizen").count()
ageText = Pop_Age.groupBy("age").count()
wstatusText = Pop_Age.groupBy("wstatus").count()
geoText = Pop_Age.groupBy("country").count()

# Function to look up code names from broadcasted variables
###...Problem: I've not been able to use just one Function and replace the variables. def lookup(x)
def lookupUnit(unit):
    return broadcast_unit.value[unit]

def lookupSex(sex):
    return broadcast_sex.value[sex]

def lookupCitizen(citizen):
    return broadcast_citizen.value[citizen]

def lookupAge(age):
    return broadcast_age.value[age]

def lookupWstatus(wstatus):
    return broadcast_wstatus.value[wstatus]

def lookupGeo(geo):
    return broadcast_geo.value[geo]

lookupUnitUDF = func.udf(lookupUnit)
lookupSexUDF = func.udf(lookupSex)
lookupCitizenUDF = func.udf(lookupCitizen)
lookupAgeUDF = func.udf(lookupAge)
lookupWstatusUDF = func.udf(lookupWstatus)
lookupGeoUDF = func.udf(lookupGeo)

# Add a new column

UnitDesc = unitText.withColumn("UnitDesc", lookupUnitUDF(func.col("unit")))
SexDesc = sexText.withColumn("SexDesc", lookupSexUDF(func.col("sex")))
CitizenDesc = citizenText.withColumn("CitizenDesc", lookupCitizenUDF(func.col("citizen")))
AgeDesc = ageText.withColumn("AgeDesc", lookupAgeUDF(func.col("age")))
WstatusDesc = wstatusText.withColumn("WstatusDesc", lookupWstatusUDF(func.col("wstatus")))
geoDesc = geoText.withColumn("CountryName", lookupGeoUDF(func.col("Country")))

print("----------------------------------------------")
print("Codes in Population by sex, age, citizenship and labour status DataFrame")
print("----------------------------------------------")

UnitDesc.show(truncate=False)
SexDesc.show(truncate=False)
CitizenDesc.show(truncate=False)
AgeDesc.show(80, truncate=False)
WstatusDesc.show(truncate=False)
geoDesc.show(27, truncate=False)

----------------------------------------------
Codes in Population by sex, age, citizenship and labour status DataFrame
----------------------------------------------
+----+------+--------+
|unit|count |UnitDesc|
+----+------+--------+
|THS |133612|Thousand|
+----+------+--------+

+---+-----+-------+
|sex|count|SexDesc|
+---+-----+-------+
|F  |44085|Females|
|T  |45045|Total  |
|M  |44482|Males  |
+---+-----+-------+

+--------------+-----+----------------------------------------------------+
|citizen       |count|CitizenDesc                                         |
+--------------+-----+----------------------------------------------------+
|NEU28_FOR     |12578|Non-EU28 countries (2013-2020) nor reporting country|
|NRP           |10781|No response                                         |
|EU28_FOR      |12395|EU28 countries (2013-2020) except reporting country |
|STLS          |9060 |Stateless                                           |
|EU27_2020_FOR |12446|EU27 countries (from 2020) except reporting country |
|NEU27_2020_FOR|12651|Non-EU27 countries (from 2020) nor reporting country|
|TOTAL         |12971|Total                                               |
|EU15_FOR      |12156|EU15 countries (1995-2004) except reporting country |
|NEU15_FOR     |12755|Non-EU15 countries (1995-2004) nor reporting country|
|FOR           |12848|Foreign country                                     |
|NAT           |12971|Reporting country                                   |
+--------------+-----+----------------------------------------------------+

+------+-----+-------------------+
|age   |count|AgeDesc            |
+------+-----+-------------------+
|Y25-29|4251 |From 25 to 29 years|
|Y50-64|4266 |From 50 to 64 years|
|Y25-49|4337 |From 25 to 49 years|
|Y65-69|3850 |From 65 to 69 years|
|Y15-24|4214 |From 15 to 24 years|
|Y40-64|4322 |From 40 to 64 years|
|Y70-74|3551 |From 70 to 74 years|
|Y40-44|4191 |From 40 to 44 years|
|Y25-54|4349 |From 25 to 54 years|
|Y15-64|4366 |From 15 to 64 years|
|Y_GE15|4367 |15 years or over   |
|Y35-39|4225 |From 35 to 39 years|
|Y_GE65|3933 |65 years or over   |
|Y60-64|4045 |From 60 to 64 years|
|Y45-49|4216 |From 45 to 49 years|
|Y55-59|4176 |From 55 to 59 years|
|Y50-54|4206 |From 50 to 54 years|
|Y_GE75|2787 |75 years or over   |
|Y20-64|4364 |From 20 to 64 years|
|Y15-19|3997 |From 15 to 19 years|
|Y25-64|4356 |From 25 to 64 years|
|Y20-24|4170 |From 20 to 24 years|
|Y55-64|4213 |From 55 to 64 years|
|Y15-74|4366 |From 15 to 74 years|
|Y40-59|4315 |From 40 to 59 years|
|Y25-59|4352 |From 25 to 59 years|
|Y15-39|4341 |From 15 to 39 years|
|Y50-59|4252 |From 50 to 59 years|
|Y_GE50|4279 |50 years or over   |
|Y15-59|4363 |From 15 to 59 years|
|Y_GE25|4360 |25 years or over   |
|Y30-34|4232 |From 30 to 34 years|
+------+-----+-------------------+

+-------+-----+----------------------------------------------------------------+
|wstatus|count|WstatusDesc                                                     |
+-------+-----+----------------------------------------------------------------+
|POP    |27685|Population                                                      |
|INAC   |27314|Persons outside the labour force (former name: inactive persons)|
|ACT    |26923|Persons in the labour force (former name: active persons)       |
|UNK    |478  |Unknown                                                         |
|EMP    |26845|Employed persons                                                |
|UNE    |24367|Unemployed persons                                              |
+-------+-----+----------------------------------------------------------------+

+-------+-----+------------------------------------------------+
|country|count|CountryName                                     |
+-------+-----+------------------------------------------------+
|LT     |4720 |Lithuania                                       |
|FI     |5092 |Finland                                         |
|RO     |4663 |Romania                                         |
|NL     |4888 |Netherlands                                     |
|PL     |5018 |Poland                                          |
|EE     |4915 |Estonia                                         |
|AT     |5215 |Austria                                         |
|HR     |4434 |Croatia                                         |
|CZ     |5072 |Czechia                                         |
|PT     |5176 |Portugal                                        |
|MT     |5118 |Malta                                           |
|DE     |5211 |Germany (until 1990 former territory of the FRG)|
|ES     |4653 |Spain                                           |
|FR     |5204 |France                                          |
|IT     |5112 |Italy                                           |
|SE     |5130 |Sweden                                          |
|BG     |4678 |Bulgaria                                        |
|SK     |4498 |Slovakia                                        |
|LV     |4940 |Latvia                                          |
|HU     |4880 |Hungary                                         |
|CY     |4732 |Cyprus                                          |
|SI     |4821 |Slovenia                                        |
|IE     |5234 |Ireland                                         |
|EL     |5106 |Greece                                          |
|BE     |5167 |Belgium                                         |
|LU     |4855 |Luxembourg                                      |
|DK     |5080 |Denmark                                         |
+-------+-----+------------------------------------------------+

In [15]:
#De este DataFrame elimino la columna unit porque solo tiene un valor: thousands 
#La variable age la dejo tal cual
#De la variables citizen solo me interesan TOTAL, filtro por esta y elimino la columna
#De la variable age me interesa la població en edad de trabajar, entre 15 y 64, y por rangos de edades 
#De la variable wstatus todos menos unknown 

citizenconcept= ['TOTAL']
ageconcept = ['Y15-64', 'Y20-64', 'Y20-24', 'Y25-29', 'Y30-34', 'Y35-39', 'Y40-59']
wstatutsconcept = ['POP', 'INAC', 'ACT', 'EMP', 'UNE']

Pop_Age = Pop_Age.filter((Pop_Age.citizen.isin(citizenconcept)) & (Pop_Age.age.isin(ageconcept)) & (Pop_Age.wstatus.isin(wstatutsconcept)))
Pop_Age = Pop_Age.select([c for c in Pop_Age.columns if c not in {'unit', 'citizen'}])

In [16]:
Pop_Age.select([func.count(func.when(func.isnan(c) | func.col(c).isNull(), c)).alias(c) for c in Pop_Age.columns]).show()

+---+---+-------+-------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+
|sex|age|wstatus|country|2021Q2|2021Q1|2020Q4|2020Q3|2020Q2|2020Q1|2019Q4|2019Q3|2019Q2|2019Q1|2018Q4|2018Q3|2018Q2|2018Q1|
+---+---+-------+-------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+
|  0|  0|      0|      0|    49|    39|   144|   143|   147|   155|    55|    53|    58|    48|    48|    48|    52|    40|
+---+---+-------+-------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+

In [17]:
# Problema, Alemania no ha reportado datos para el año 2020

Pop_Age.filter((Pop_Age.country == 'DE') & (Pop_Age.sex == 'T')).show()

+---+------+-------+-------+-------+-------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+
|sex|   age|wstatus|country| 2021Q2| 2021Q1|2020Q4|2020Q3|2020Q2|2020Q1| 2019Q4| 2019Q3| 2019Q2| 2019Q1| 2018Q4| 2018Q3| 2018Q2| 2018Q1|
+---+------+-------+-------+-------+-------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+
|  T|Y15-64|    ACT|     DE|41581.0|41789.7|   NaN|   NaN|   NaN|   NaN|42938.5|42498.6|42002.6|42269.5|42267.1|42329.2|41760.4|42019.5|
|  T|Y15-64|    EMP|     DE|40059.4|40036.8|   NaN|   NaN|   NaN|   NaN|41599.4|41153.3|40681.2|40826.4|40901.9|40893.8|40280.9|40466.3|
|  T|Y15-64|   INAC|     DE|11429.3|11680.0|   NaN|   NaN|   NaN|   NaN|11053.3|10952.0|11200.8|11264.7|11180.6|11279.4|11630.6|11627.7|
|  T|Y15-64|    POP|     DE|53010.4|53469.6|   NaN|   NaN|   NaN|   NaN|53991.9|53450.6|53203.4|53534.3|53447.6|53608.6|53391.0|53647.2|
|  T|Y15-64|    UNE|     DE| 1521.6| 1752.9|   NaN|   NaN|   NaN|   NaN| 1339.1| 1345.3| 1321.4| 1443.1| 1365.2| 1435.4| 1479.5| 1553.2|
|  T|Y20-24|    ACT|     DE| 3261.5| 3303.6|   NaN|   NaN|   NaN|   NaN| 3171.4| 3116.0| 3131.4| 3114.1| 3130.4| 3071.9| 3035.5| 3041.4|
|  T|Y20-24|    EMP|     DE| 3058.0| 3031.9|   NaN|   NaN|   NaN|   NaN| 3012.3| 2939.4| 2976.3| 2942.1| 2974.7| 2897.6| 2855.2| 2851.5|
|  T|Y20-24|   INAC|     DE| 1368.5| 1380.2|   NaN|   NaN|   NaN|   NaN| 1299.7| 1230.7| 1304.8| 1273.7| 1339.3| 1299.8| 1345.6| 1347.5|
|  T|Y20-24|    POP|     DE| 4630.1| 4683.8|   NaN|   NaN|   NaN|   NaN| 4471.2| 4346.7| 4436.2| 4387.8| 4469.7| 4371.7| 4381.1| 4389.0|
|  T|Y20-24|    UNE|     DE|  203.5|  271.8|   NaN|   NaN|   NaN|   NaN|  159.1|  176.6|  155.0|  172.0|  155.7|  174.3|  180.3|  190.0|
|  T|Y20-64|    ACT|     DE|40573.6|40708.8|   NaN|   NaN|   NaN|   NaN|41708.3|41295.7|40904.8|41026.1|41027.4|41161.5|40678.3|40820.1|
|  T|Y20-64|    EMP|     DE|39149.7|39046.1|   NaN|   NaN|   NaN|   NaN|40435.2|40065.7|39658.1|39662.0|39735.7|39829.8|39291.4|39348.0|
|  T|Y20-64|   INAC|     DE| 8752.7| 8949.4|   NaN|   NaN|   NaN|   NaN| 8298.0| 8171.9| 8374.1| 8394.7| 8379.6| 8509.2| 8686.5| 8693.1|
|  T|Y20-64|    POP|     DE|49326.3|49658.3|   NaN|   NaN|   NaN|   NaN|50006.3|49467.7|49279.0|49420.8|49407.0|49670.7|49364.9|49513.1|
|  T|Y20-64|    UNE|     DE| 1423.8| 1662.7|   NaN|   NaN|   NaN|   NaN| 1273.1| 1230.0| 1246.7| 1364.1| 1291.7| 1331.7| 1387.0| 1472.0|
|  T|Y25-29|    ACT|     DE| 3962.6| 3947.5|   NaN|   NaN|   NaN|   NaN| 4095.4| 4213.3| 4160.3| 4157.2| 4219.1| 4271.6| 4281.4| 4283.8|
|  T|Y25-29|    EMP|     DE| 3767.8| 3720.8|   NaN|   NaN|   NaN|   NaN| 3930.0| 4045.7| 3995.3| 3977.5| 4023.8| 4094.4| 4090.5| 4069.2|
|  T|Y25-29|   INAC|     DE|  743.9|  765.8|   NaN|   NaN|   NaN|   NaN|  782.1|  746.6|  798.7|  817.4|  827.5|  838.5|  846.2|  846.6|
|  T|Y25-29|    POP|     DE| 4706.5| 4713.3|   NaN|   NaN|   NaN|   NaN| 4877.5| 4959.9| 4959.0| 4974.6| 5046.6| 5110.1| 5127.7| 5130.4|
|  T|Y25-29|    UNE|     DE|  194.8|  226.7|   NaN|   NaN|   NaN|   NaN|  165.3|  167.6|  165.0|  179.7|  195.3|  177.1|  191.0|  214.6|
+---+------+-------+-------+-------+-------+------+------+------+------+-------+-------+-------+-------+-------+-------+-------+-------+
only showing top 20 rows

In [18]:
countryconcept= ['DE']

Pop_Age_withoutDE = Pop_Age.filter(~Pop_Age.country.isin(countryconcept))

In [19]:
Pop_Age_withoutDE.select([func.count(func.when(func.isnan(c) | func.col(c).isNull(), c)).alias(c) for c in Pop_Age_withoutDE.columns]).show()

+---+---+-------+-------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+
|sex|age|wstatus|country|2021Q2|2021Q1|2020Q4|2020Q3|2020Q2|2020Q1|2019Q4|2019Q3|2019Q2|2019Q1|2018Q4|2018Q3|2018Q2|2018Q1|
+---+---+-------+-------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+
|  0|  0|      0|      0|    49|    39|    39|    38|    42|    50|    55|    53|    58|    48|    48|    48|    52|    40|
+---+---+-------+-------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+

In [20]:
Pop_Age_withoutDE.filter(Pop_Age_withoutDE['2021Q2'].isNull()).show()

+---+---+-------+-------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+
|sex|age|wstatus|country|2021Q2|2021Q1|2020Q4|2020Q3|2020Q2|2020Q1|2019Q4|2019Q3|2019Q2|2019Q1|2018Q4|2018Q3|2018Q2|2018Q1|
+---+---+-------+-------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+
+---+---+-------+-------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+

In [21]:
Pop_Age = Pop_Age.selectExpr('sex', 'age', 'wstatus', 'country', """stack(14,'2021Q2', 2021Q2, '2021Q1', 2021Q1, '2020Q4', 2020Q4, '2020Q3', 2020Q3, '2020Q2', 2020Q2, '2020Q1', 2020Q1, '2019Q4', 2019Q4,
                '2019Q3', 2019Q3, '2019Q2', 2019Q2, '2019Q1', 2019Q1, '2018Q4', 2018Q4, '2018Q3', 2018Q3, '2018Q2', 2018Q2, '2018Q1', 2018Q1) as (Date, cant)""")

In [22]:
Pop_Age.printSchema()

root
 |-- sex: string (nullable = true)
 |-- age: string (nullable = true)
 |-- wstatus: string (nullable = true)
 |-- country: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- cant: double (nullable = true)

In [23]:
Pop_Age.summary().show()

+-------+-----+------+-------+-------+------+------+
|summary|  sex|   age|wstatus|country|  Date|  cant|
+-------+-----+------+-------+-------+------+------+
|  count|39690| 39690|  39690|  39690| 39690| 39690|
|   mean| null|  null|   null|   null|  null|   NaN|
| stddev| null|  null|   null|   null|  null|   NaN|
|    min|    F|Y15-64|    ACT|     AT|2018Q1|   0.9|
|    25%| null|  null|   null|   null|  null|  63.4|
|    50%| null|  null|   null|   null|  null| 276.4|
|    75%| null|  null|   null|   null|  null|1287.6|
|    max|    T|Y40-59|    UNE|     SK|2021Q2|   NaN|
+-------+-----+------+-------+-------+------+------+

In [24]:
Pop_Age_F = Pop_Age.withColumn("Estado_empleo", lookupWstatusUDF(func.col("wstatus"))).withColumn("CountryName", lookupGeoUDF(func.col("Country"))).orderBy('Country', "date")

In [25]:
Pop_Age_F.show()

+---+------+-------+-------+------+------+--------------------+-----------+
|sex|   age|wstatus|country|  Date|  cant|       Estado_empleo|CountryName|
+---+------+-------+-------+------+------+--------------------+-----------+
|  F|Y25-29|    POP|     AT|2018Q1| 290.9|          Population|    Austria|
|  M|Y15-64|    POP|     AT|2018Q1|2897.8|          Population|    Austria|
|  F|Y25-29|    UNE|     AT|2018Q1|  10.6|  Unemployed persons|    Austria|
|  F|Y15-64|    EMP|     AT|2018Q1|1980.0|    Employed persons|    Austria|
|  F|Y30-34|    ACT|     AT|2018Q1| 248.0|Persons in the la...|    Austria|
|  F|Y15-64|   INAC|     AT|2018Q1| 824.3|Persons outside t...|    Austria|
|  F|Y30-34|    EMP|     AT|2018Q1| 235.0|    Employed persons|    Austria|
|  F|Y15-64|    UNE|     AT|2018Q1| 100.6|  Unemployed persons|    Austria|
|  F|Y30-34|   INAC|     AT|2018Q1|  44.6|Persons outside t...|    Austria|
|  F|Y20-24|    EMP|     AT|2018Q1| 163.3|    Employed persons|    Austria|
|  F|Y30-34|    POP|     AT|2018Q1| 292.6|          Population|    Austria|
|  F|Y20-24|    UNE|     AT|2018Q1|  13.4|  Unemployed persons|    Austria|
|  F|Y30-34|    UNE|     AT|2018Q1|  13.0|  Unemployed persons|    Austria|
|  F|Y20-64|    EMP|     AT|2018Q1|1922.7|    Employed persons|    Austria|
|  F|Y35-39|    ACT|     AT|2018Q1| 246.7|Persons in the la...|    Austria|
|  F|Y20-64|    POP|     AT|2018Q1|2693.5|          Population|    Austria|
|  F|Y35-39|    EMP|     AT|2018Q1| 234.4|    Employed persons|    Austria|
|  F|Y25-29|    ACT|     AT|2018Q1| 236.2|Persons in the la...|    Austria|
|  F|Y35-39|   INAC|     AT|2018Q1|  43.3|Persons outside t...|    Austria|
|  F|Y25-29|   INAC|     AT|2018Q1|  54.6|Persons outside t...|    Austria|
+---+------+-------+-------+------+------+--------------------+-----------+
only showing top 20 rows

In [26]:
Germanie_Issue = Pop_Age_F.toPandas()
Germanie_Issue['CountryName'].replace(
    to_replace=['Germany (until 1990 former territory of the FRG)'],
    value='Germany',
    inplace=True
)
Pop_Age_F = spark.createDataFrame(Germanie_Issue)

In [27]:
#Guardar en HDFS row data

Pop_Age_F.write.mode('overwrite').parquet("hdfs://localhost:9000//TFM_CEE/row/PopWStatusByAge.parquet")