# Employment A*10 industry breakdowns

## 6. Datos relativos a empleo por actividad económica

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import eurostat
import plotly.express as px # Graphics
from MyFunctions import EUcountries
from pyspark.sql import SparkSession 
from pyspark.sql.types import StructField, StructType, StringType, IntegerType, FloatType 
from pyspark.sql import functions as func

In [2]:
spark = SparkSession.builder.appName("EmploymentById").master("local") .getOrCreate()

### Exploración DF

In [3]:
# Employment A*10 industry breakdowns
emplInd = eurostat.get_data_df('namq_10_a10_e')
emplInd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26992 entries, 0 to 26991
Columns: 192 entries, unit to 1975Q1
dtypes: float64(187), object(5)
memory usage: 39.5+ MB

In [4]:
print("Dataset actualizado a: 29 de Octubre 2021")
print("Nº de filas / entradas: ", emplInd.shape[0])
print("Nº de columnas / variables: ", emplInd.shape[1])
print("Tipo de datos para cada variable: ")
display(emplInd.dtypes)
print("Total valores nulos: ", emplInd.isnull().sum().sum())
print("Variables con valores nulos: ")
print("  2021Q3: ", emplInd['2021Q3'].isnull().sum().sum(), "valores nulos")
print("  2018Q3: ", emplInd['2018Q3'].isnull().sum().sum(),  "valores nulos")

Dataset actualizado a: 29 de Octubre 2021
Nº de filas / entradas:  26992
Nº de columnas / variables:  192
Tipo de datos para cada variable:

unit         object
nace_r2      object
s_adj        object
na_item      object
geo\time     object
             ...
1976Q1      float64
1975Q4      float64
1975Q3      float64
1975Q2      float64
1975Q1      float64
Length: 192, dtype: object

Total valores nulos:  2339218
Variables con valores nulos:
  2021Q3:  25627 valores nulos
  2018Q3:  1551 valores nulos

In [5]:
emplInd.sample(3)

,unit,nace_r2,s_adj,na_item,geo\time,2021Q3,2021Q2,2021Q1,2020Q4,2020Q3,...,1977Q2,1977Q1,1976Q4,1976Q3,1976Q2,1976Q1,1975Q4,1975Q3,1975Q2,1975Q1
12814,PCH_SM_PER,F,NSA,SAL_DC,CZ,NaN,4.3,1.1,1.3,0.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14215,PCH_SM_PER,O-Q,NSA,EMP_DC,NO,NaN,2.5,1.3,1.2,0.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20230,PC_TOT_PER,O-Q,CA,EMP_DC,LV,NaN,20.9,23.0,21.5,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#2021Q3 Tiene demasiados datos null 
emplInd.drop(['2021Q3'], axis=1, inplace=True)

In [7]:
print('Descripción Variables: ')
print('Unit: Unidad de medida')
print(emplInd.unit.unique())
print('Tipo: Object')
print('--------------------------------------------------------------------')
print('nace_r2: Ajuste estacional')
print(emplInd.nace_r2.unique())
print('Tipo: Object')
print('--------------------------------------------------------------------')
print('s_adj: Ajuste estacional')
print(emplInd.s_adj.unique())
print('Tipo: Object')
print('--------------------------------------------------------------------')
print('na_item: Indicador de cuentas nacionales')
print(emplInd.na_item.unique())
print('Tipo: Object')
print('--------------------------------------------------------------------')

Descripción Variables:
Unit: Unidad de medida
['I15_HW' 'I15_JOB' 'I15_PER' 'PCH_PRE_HW' 'PCH_PRE_JOB' 'PCH_PRE_PER'
 'PCH_SM_HW' 'PCH_SM_JOB' 'PCH_SM_PER' 'PC_TOT_HW' 'PC_TOT_JOB'
 'PC_TOT_PER' 'THS_HW' 'THS_JOB' 'THS_PER']
Tipo: Object
--------------------------------------------------------------------
nace_r2: Ajuste estacional
['A' 'B-E' 'C' 'F' 'G-I' 'J' 'K' 'L' 'M_N' 'O-Q' 'R-U' 'TOTAL']
Tipo: Object
--------------------------------------------------------------------
s_adj: Ajuste estacional
['CA' 'NSA' 'SA' 'SCA']
Tipo: Object
--------------------------------------------------------------------
na_item: Indicador de cuentas nacionales
['EMP_DC' 'SAL_DC' 'SELF_DC']
Tipo: Object
--------------------------------------------------------------------

### Limpieza y preparación

**FILTROS**:

* Primer filtro: trimestres en este caso dejaré datos del año 2018 en adelante

In [8]:
#Primer filtro: trimestres en este caso dejaré datos del año 2018 en adelante, por ser el ultimo año en el que algún país ingresó formalment a la UE
emplInd.drop(emplInd.iloc[:,19:], inplace = True, axis = 1)


* Segundo filtro: filtrar por los paises miembros de la UE

In [9]:
#Rename columns

emplInd.columns = ['unit','nace_r2', 's_adj', 'na_item', 'country', '2021Q2', '2021Q1', '2020Q4', '2020Q3', '2020Q2', '2020Q1', '2019Q4',
                '2019Q3', '2019Q2', '2019Q1', '2018Q4',  '2018Q3', '2018Q2', '2018Q1']

In [10]:
# Segundo filtro: filtrar por los paises miembros de la UE
# from MyFunctions import DF EU countries.

emplInd = emplInd[emplInd.country.isin(EUcountries().Code)]

#Verico que estén los 27
emplInd['country'].unique()

array(['FI', 'IT', 'LU', 'LV', 'AT', 'BG', 'CY', 'CZ', 'DE', 'DK', 'EE',
       'EL', 'ES', 'FR', 'HR', 'HU', 'IE', 'LT', 'MT', 'NL', 'PL', 'PT',
       'RO', 'SE', 'SI', 'SK', 'BE'], dtype=object)

In [11]:
#Busco null values
emplInd.isnull().sum().sum()

6581

In [12]:
#Muestra de algunos valores nulos
emplInd[emplInd.isnull().any(1)].sample(5)

,unit,nace_r2,s_adj,na_item,country,2021Q2,2021Q1,2020Q4,2020Q3,2020Q2,2020Q1,2019Q4,2019Q3,2019Q2,2019Q1,2018Q4,2018Q3,2018Q2,2018Q1
22472,THS_HW,K,SA,EMP_DC,CZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16420,PC_TOT_HW,K,SA,EMP_DC,CZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15444,PC_TOT_HW,C,NSA,SELF_DC,BE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22622,THS_HW,L,NSA,EMP_DC,MT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22708,THS_HW,L,SA,EMP_DC,MT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# Cargo los diccionarios para emplInd desde el bulkdown de Eurostat
unit = eurostat.get_dic('unit')
nace_r2 = eurostat.get_dic('nace_r2')
s_adj = eurostat.get_dic('s_adj')
na_item =eurostat.get_dic('na_item')
geo =eurostat.get_dic('geo')

In [14]:
#Uso la variable broadcast porque solo me interesan los datos presentes en el dataframe
broadcast_unit = spark.sparkContext.broadcast(unit)
broadcast_nace_r2 = spark.sparkContext.broadcast(nace_r2)
broadcast_s_adj = spark.sparkContext.broadcast(s_adj)
broadcast_na_item = spark.sparkContext.broadcast(na_item)
broadcast_geo = spark.sparkContext.broadcast(geo)

In [15]:
#From pandas to spark
empByInd = spark.createDataFrame(emplInd)
empByInd.printSchema()

root
 |-- unit: string (nullable = true)
 |-- nace_r2: string (nullable = true)
 |-- s_adj: string (nullable = true)
 |-- na_item: string (nullable = true)
 |-- country: string (nullable = true)
 |-- 2021Q2: double (nullable = true)
 |-- 2021Q1: double (nullable = true)
 |-- 2020Q4: double (nullable = true)
 |-- 2020Q3: double (nullable = true)
 |-- 2020Q2: double (nullable = true)
 |-- 2020Q1: double (nullable = true)
 |-- 2019Q4: double (nullable = true)
 |-- 2019Q3: double (nullable = true)
 |-- 2019Q2: double (nullable = true)
 |-- 2019Q1: double (nullable = true)
 |-- 2018Q4: double (nullable = true)
 |-- 2018Q3: double (nullable = true)
 |-- 2018Q2: double (nullable = true)
 |-- 2018Q1: double (nullable = true)

In [16]:
from pyspark.sql import functions as func

# Look for the codes for each variable, the meaning of the codes and count how many times apears in the DF
UnitText = empByInd.groupBy("unit").count()
nace_r2Text = empByInd.groupBy("nace_r2").count()
s_adjText = empByInd.groupBy("s_adj").count()
na_itemText = empByInd.groupBy("na_item").count()
geoText = empByInd.groupBy("country").count()

# Function to look up code names from broadcasted variables
###...Problem: I've not been able to use just one Function and replace the variables. def lookup(x)
def lookupUnit(unit):
    return broadcast_unit.value[unit]

def lookupNace_r2(nace_r2):
    return broadcast_nace_r2.value[nace_r2]

def lookupS_adj(s_adj):
    return broadcast_s_adj.value[s_adj]

def lookupNa_item(na_item):
    return broadcast_na_item.value[na_item]

def lookupGeo(geo):
    return broadcast_geo.value[geo]

lookupUnitUDF = func.udf(lookupUnit)
lookupNace_r2UDF = func.udf(lookupNace_r2)
lookupS_adjUDF = func.udf(lookupS_adj)
lookupNa_itemUDF = func.udf(lookupNa_item)
lookupGeoUDF = func.udf(lookupGeo)

# Add a new column

UnitDesc = UnitText.withColumn("UnitDesc", lookupUnitUDF(func.col("unit")))
nace_r2Desc = nace_r2Text.withColumn("UnitDesc", lookupNace_r2UDF(func.col("nace_r2")))
s_adjDesc = s_adjText.withColumn("s_adjDesc", lookupS_adjUDF(func.col("s_adj")))
na_itemDesc = na_itemText.withColumn("na_itemDesc", lookupNa_itemUDF(func.col("na_item")))
geoDesc = geoText.withColumn("CountryName", lookupGeoUDF(func.col("Country")))

print("----------------------------------------------")
print("Codes in Employment A*10 industry breakdowns")
print("----------------------------------------------")

UnitDesc.show(truncate=False)
nace_r2Desc.show(truncate=False)
s_adjDesc.show(truncate=False)
na_itemDesc.show(truncate=False)
geoDesc.show(27, truncate=False)

----------------------------------------------
Codes in Employment A*10 industry breakdowns
----------------------------------------------
+-----------+-----+----------------------------------------------------------------------------------+
|unit       |count|UnitDesc                                                                          |
+-----------+-----+----------------------------------------------------------------------------------+
|PCH_SM_PER |2050 |Percentage change compared to same period in previous year (based on persons)     |
|PC_TOT_PER |2052 |Percentage of total (based on persons)                                            |
|I15_HW     |2066 |Index, 2015=100 (based on hours worked)                                           |
|I15_PER    |2042 |Index, 2015=100 (based on persons)                                                |
|PCH_SM_HW  |2098 |Percentage change compared to same period in previous year (based on hours worked)|
|THS_HW     |2100 |Thousand hours worked                                                             |
|PCH_PRE_JOB|180  |Percentage change on previous period (based on jobs)                              |
|PC_TOT_HW  |2100 |Percentage of total (based on hours worked)                                       |
|PCH_SM_JOB |360  |Percentage change compared to same period in previous year (based on jobs)        |
|THS_PER    |2052 |Thousand persons                                                                  |
|PC_TOT_JOB |360  |Percentage of total (based on jobs)                                               |
|PCH_PRE_PER|971  |Percentage change on previous period (based on persons)                           |
|PCH_PRE_HW |995  |Percentage change on previous period (based on hours worked)                      |
|I15_JOB    |352  |Index, 2015=100 (based on jobs)                                                   |
|THS_JOB    |360  |Thousand jobs                                                                     |
+-----------+-----+----------------------------------------------------------------------------------+

+-------+-----+------------------------------------------------------------------------------------------------------------------------------------+
|nace_r2|count|UnitDesc                                                                                                                            |
+-------+-----+------------------------------------------------------------------------------------------------------------------------------------+
|K      |1665 |Financial and insurance activities                                                                                                  |
|F      |1681 |Construction                                                                                                                        |
|L      |1675 |Real estate activities                                                                                                              |
|C      |1681 |Manufacturing                                                                                                                       |
|J      |1675 |Information and communication                                                                                                       |
|TOTAL  |1681 |Total - all NACE activities                                                                                                         |
|M_N    |1681 |Professional, scientific and technical activities; administrative and support service activities                                    |
|A      |1681 |Agriculture, forestry and fishing                                                                                                   |
|R-U    |1681 |Arts, entertainment and recreation; other service activities; activities of household and extra-territorial organizations and bodies|
|O-Q    |1675 |Public administration, defence, education, human health and social work activities                                                  |
|G-I    |1681 |Wholesale and retail trade, transport, accommodation and food service activities                                                    |
|B-E    |1681 |Industry (except construction)                                                                                                      |
+-------+-----+------------------------------------------------------------------------------------------------------------------------------------+

+-----+-----+-----------------------------------------------------------------------------+
|s_adj|count|s_adjDesc                                                                    |
+-----+-----+-----------------------------------------------------------------------------+
|NSA  |8420 |Unadjusted data (i.e. neither seasonally adjusted nor calendar adjusted data)|
|SA   |1440 |Seasonally adjusted data, not calendar adjusted data                         |
|CA   |1008 |Calendar adjusted data, not seasonally adjusted data                         |
|SCA  |9270 |Seasonally and calendar adjusted data                                        |
+-----+-----+-----------------------------------------------------------------------------+

+-------+-----+---------------------------------+
|na_item|count|na_itemDesc                      |
+-------+-----+---------------------------------+
|SELF_DC|6710 |Self-employed domestic concept   |
|SAL_DC |6768 |Employees domestic concept       |
|EMP_DC |6660 |Total employment domestic concept|
+-------+-----+---------------------------------+

+-------+-----+------------------------------------------------+
|country|count|CountryName                                     |
+-------+-----+------------------------------------------------+
|LT     |648  |Lithuania                                       |
|FI     |936  |Finland                                         |
|RO     |648  |Romania                                         |
|NL     |972  |Netherlands                                     |
|PL     |648  |Poland                                          |
|EE     |948  |Estonia                                         |
|AT     |972  |Austria                                         |
|HR     |648  |Croatia                                         |
|CZ     |828  |Czechia                                         |
|PT     |648  |Portugal                                        |
|MT     |648  |Malta                                           |
|DE     |648  |Germany (until 1990 former territory of the FRG)|
|ES     |972  |Spain                                           |
|FR     |648  |France                                          |
|IT     |1116 |Italy                                           |
|SE     |648  |Sweden                                          |
|BG     |648  |Bulgaria                                        |
|SK     |648  |Slovakia                                        |
|LV     |936  |Latvia                                          |
|HU     |648  |Hungary                                         |
|CY     |648  |Cyprus                                          |
|SI     |648  |Slovenia                                        |
|IE     |648  |Ireland                                         |
|EL     |648  |Greece                                          |
|BE     |516  |Belgium                                         |
|LU     |936  |Luxembourg                                      |
|DK     |638  |Denmark                                         |
+-------+-----+------------------------------------------------+

In [17]:
# Para la variable unit me quedo con thousands 
# s_adj solo not adjusted data
# De la variable na_item me quedo con total employment domestic concept
# Elimino las tres variables filtradas

unitconcept = ['THS_PER'] #Thousand persons
s_adjconcept= ['NSA'] #not adjusted data 
na_itemconcept= ['EMP_DC'] #Total employment domestic concept
empByInd = empByInd.filter((empByInd.unit.isin(unitconcept)) & (empByInd.s_adj.isin(s_adjconcept)) & (empByInd.na_item.isin(na_itemconcept)))
empByInd = empByInd.select([c for c in empByInd.columns if c not in {'unit', 's_adj', 'na_item'}])

In [18]:
empByInd.show()

+-------+-------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+
|nace_r2|country|2021Q2|2021Q1|2020Q4|2020Q3|2020Q2|2020Q1|2019Q4|2019Q3|2019Q2|2019Q1|2018Q4|2018Q3|2018Q2|2018Q1|
+-------+-------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+
|      A|     AT|157.02|145.45|151.85|161.05|155.49|142.05|147.19|155.76|150.76|145.17|153.71|161.37|162.23|151.61|
|      A|     BE|  59.0|  54.5|  59.9|  65.8|  59.8|  53.9|  59.1|  64.7|  59.5|  54.1|  58.4|  64.3|  59.2|  53.5|
|      A|     BG|581.22|476.49|531.15|680.64|645.14| 525.9|536.31|664.33|640.91|545.45|518.81| 724.4|680.29|574.14|
|      A|     CY| 15.28| 14.75| 14.89| 15.09| 15.16| 14.82| 14.98| 15.15| 15.22| 14.69| 14.77|  14.9| 14.88| 14.89|
|      A|     CZ|157.82|145.66|156.05|176.81|160.92| 144.9|154.35|173.85|163.15|150.01|161.65|181.49|167.95|150.99|
|      A|     DE| 601.0| 533.0| 549.0| 601.0| 616.0| 555.0| 572.0| 619.0| 639.0| 567.0| 582.0| 628.0| 653.0| 569.0|
|      A|     DK| 69.82| 66.54| 70.81|  72.7| 71.13| 66.36| 69.71| 70.52| 68.39| 64.45| 70.09| 72.13| 71.43|  67.4|
|      A|     EE| 17.52| 19.41| 19.66| 17.89| 20.54| 19.19| 20.89| 23.26| 21.98| 20.04| 20.46| 25.83| 21.94| 20.61|
|      A|     EL|480.51|476.92|441.64|444.96|461.09|457.48|487.41|503.93|497.97|498.94|502.49|514.06| 506.6|503.41|
|      A|     ES| 733.0| 722.8| 724.9| 677.6| 695.6| 745.5| 775.1| 728.7| 780.9| 799.7| 820.0| 761.7| 809.8| 818.1|
|      A|     FI|  94.8|  88.2|  89.2|  88.4|  86.0|  82.4|  87.2|  91.2|  89.2|  83.2|  83.6|  92.8|  92.8|  82.0|
|      A|     FR| 768.3| 721.0| 744.1| 778.4| 746.5| 699.4| 746.5| 793.7| 758.7| 714.0| 746.6| 792.6| 762.1| 715.1|
|      A|     HR|116.12| 95.22| 97.81|117.04|112.24| 87.67|  93.4|112.77| 110.0|103.99| 99.61|110.97| 96.36|107.63|
|      A|     HU|189.06|160.33|191.16|212.91|191.15|163.82|186.67|206.14|193.03|160.21|192.37|210.86|193.25|166.78|
|      A|     IE|108.12|106.62|106.45| 98.73| 98.45|107.42|106.97| 99.51|100.99|103.97|104.81|105.21|106.82|113.37|
|      A|     IT| 973.5| 937.2| 956.1| 954.9| 886.9| 907.2| 970.9| 930.8| 908.2| 897.2| 930.3| 956.6| 973.4| 895.5|
|      A|     LT| 73.58| 77.04|  77.4| 77.33| 80.35|  78.9| 76.01|  83.9| 94.63|101.01| 97.75| 90.12|103.63|102.82|
|      A|     LU|  3.67|  3.63|  3.68|  3.68|  3.66|  3.61|  3.65|  3.66|  3.67|  3.64|   3.7|  3.72|  3.69|  3.64|
|      A|     LV| 69.77| 63.72| 58.71|  70.6| 69.11| 65.19| 57.73| 70.07| 67.86| 66.77| 59.06| 70.04| 67.22| 64.15|
|      A|     MT|  2.56|   2.6|  2.59|  2.59|  2.56|   2.6|   2.6|  2.56|   2.5|  2.48|  2.63|  2.52|  2.64|  2.57|
+-------+-------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+
only showing top 20 rows

In [19]:
print(empByInd.select(['Country']).distinct().count())

27

In [20]:
empByInd = empByInd.selectExpr('nace_r2', 'country',  """stack(14,'2021Q2', 2021Q2, '2021Q1', 2021Q1, '2020Q4', 2020Q4, '2020Q3', 2020Q3, '2020Q2', 2020Q2, '2020Q1', 2020Q1, '2019Q4', 2019Q4,
                '2019Q3', 2019Q3, '2019Q2', 2019Q2, '2019Q1', 2019Q1, '2018Q4', 2018Q4, '2018Q3', 2018Q3, '2018Q2', 2018Q2, '2018Q1', 2018Q1) as (Date, cant)""")

In [21]:
empByInd.printSchema()

root
 |-- nace_r2: string (nullable = true)
 |-- country: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- cant: double (nullable = true)

In [22]:
empByInd.summary().show()

+-------+-------+-------+------+------------------+
|summary|nace_r2|country|  Date|              cant|
+-------+-------+-------+------+------------------+
|  count|   4536|   4536|  4536|              4536|
|   mean|   null|   null|  null|1372.0202491181642|
| stddev|   null|   null|  null|3843.6437858169106|
|    min|      A|     AT|2018Q1|              2.09|
|    25%|   null|   null|  null|              83.2|
|    50%|   null|   null|  null|            286.23|
|    75%|   null|   null|  null|             998.3|
|    max|  TOTAL|     SK|2021Q2|           45559.0|
+-------+-------+-------+------+------------------+

In [23]:
empByInd.select([func.count(func.when(func.isnan(c) | func.col(c).isNull(), c)).alias(c) for c in empByInd.columns]).show()

+-------+-------+----+----+
|nace_r2|country|Date|cant|
+-------+-------+----+----+
|      0|      0|   0|   0|
+-------+-------+----+----+

In [24]:
empByInd_F = empByInd.withColumn("EconomicAct", lookupNace_r2UDF(func.col("nace_r2"))).withColumn("CountryName", lookupGeoUDF(func.col("Country"))).orderBy("country","date")

In [25]:
empByInd_F.show()

+-------+-------+------+-------+--------------------+-----------+
|nace_r2|country|  Date|   cant|         EconomicAct|CountryName|
+-------+-------+------+-------+--------------------+-----------+
|      A|     AT|2018Q1| 151.61|Agriculture, fore...|    Austria|
|    B-E|     AT|2018Q1| 699.27|Industry (except ...|    Austria|
|    R-U|     AT|2018Q1| 196.16|Arts, entertainme...|    Austria|
|  TOTAL|     AT|2018Q1|4404.95|Total - all NACE ...|    Austria|
|    G-I|     AT|2018Q1|1204.07|Wholesale and ret...|    Austria|
|      J|     AT|2018Q1| 121.38|Information and c...|    Austria|
|      L|     AT|2018Q1|  62.24|Real estate activ...|    Austria|
|      K|     AT|2018Q1| 122.97|Financial and ins...|    Austria|
|      C|     AT|2018Q1| 643.33|       Manufacturing|    Austria|
|    M_N|     AT|2018Q1| 527.51|Professional, sci...|    Austria|
|    O-Q|     AT|2018Q1|1056.68|Public administra...|    Austria|
|      F|     AT|2018Q1| 263.07|        Construction|    Austria|
|      L|     AT|2018Q2|  63.08|Real estate activ...|    Austria|
|    G-I|     AT|2018Q2|1181.53|Wholesale and ret...|    Austria|
|      C|     AT|2018Q2| 652.57|       Manufacturing|    Austria|
|    B-E|     AT|2018Q2| 710.06|Industry (except ...|    Austria|
|      A|     AT|2018Q2| 162.23|Agriculture, fore...|    Austria|
|      F|     AT|2018Q2| 309.95|        Construction|    Austria|
|      J|     AT|2018Q2| 122.98|Information and c...|    Austria|
|    M_N|     AT|2018Q2| 546.52|Professional, sci...|    Austria|
+-------+-------+------+-------+--------------------+-----------+
only showing top 20 rows

In [26]:
Germanie_Issue = empByInd_F.toPandas()
Germanie_Issue['CountryName'].replace(
    to_replace=['Germany (until 1990 former territory of the FRG)'],
    value='Germany',
    inplace=True
)
empByInd_F = spark.createDataFrame(Germanie_Issue)

In [27]:
#Save parquet file in hdfs whit unit thousends of people, solo adjusted data y total employment domestic concept


empByInd_F.write.mode('overwrite').parquet("hdfs://localhost:9000/TFM_CEE/row/EmpByIndust.parquet")